@use "variables.scss" as vars;
.about {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 5px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  &__text {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-indent: 2px;
    span {
      color: vars.$red;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 100px 110px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
    &__text {
      font-size: 32px;
    }
  }
}
