.business {
  margin-top: 55px;
  .accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
    padding: 0 5px;
    font-size: 20px;
    line-height: 100%;
    h1 {
      flex-basis: 100%;
      font-size: 28px;
      text-align: center;
      margin-bottom: 10px;
    }
    &__container {
      position: relative;
      box-sizing: border-box;
      flex-grow: 1;
      height: 60px;
      max-width: 615px;
      color: white;
      transition: height 500ms;
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          background: top left 50% url(/images/business/#{$i}.png);
        }
      }
    }
    &__content-wrapper {
      box-sizing: border-box;
      height: 100%;
      padding: 0 10px;
      background: rgba(45, 54, 83, 0.6);
    }
    &__label {
      cursor: pointer;
      margin-right: 30px;
      display: flex;
      height: 60px;
      align-items: center;
    }
    &__content {
      font-size: 16px;
      line-height: 140%;
      font-weight: normal;
      overflow: hidden;
    }
    &__arrow.arrow {
      right: 5px;
      top: 20px;
      span {
        background-color: white;
      }
    }
    &__container--opened {
      height: 240px;
      .accordion__arrow span.arrow__left-piece {
        transform: rotate(-38deg);
      }
      .accordion__arrow span.arrow__right-piece {
        transform: rotate(38deg);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .business {
    margin-top: 115px;
    .accordion {
      $col-gap: 20px;
      gap: 22px $col-gap;
      padding: 0;
      font-size: 24px;
      h1 {
        font-size: 56px;
        margin-bottom: 50px;
      }
      &__container {
        overflow: hidden;
        flex-basis: calc(50% - $col-gap);
        height: 260px;
        &:hover {
          .accordion__content-wrapper {
            transform: translateY(0px);
          }
          .accordion__content {
            opacity: 1;
          }
        }
      }
      &__content-wrapper {
        align-content: normal;
        padding: 28px 20px;
        transform: translateY(180px);
        transition: transform 500ms;
      }
      &__label {
        height: unset;
        cursor: unset;
      }
      &__content {
        font-size: 17px;
        margin-top: 20px;
        opacity: 0;
        transition: opacity 500ms;
      }
      &__arrow.arrow {
        display: none;
      }
    }
  }
}
